# Build artifacts
*.app
*.app.zip
*.dmg
build/
DerivedData/


# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode / Swift
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/
*.xcuserstate
.swiftpm/
Package.resolved
